* {
  margin: 0;
  padding: 0;
}

.toggleAndSearch {
  margin-top: 1rem;
  display: flex;
}

.toggleMenu {
  display: none;
}
.searchArea {
  display: none;
}
.head-line {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.head-line svg {
  width: 430px;
}

.menus {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px double black;
}
.menus button:first-child {
  text-align: right;
  display: none;
}

.menus button {
  border: none;
  background: none;
  margin: 5px;
}

.menus button:hover {
  background-color: beige;
}

.news {
  border-bottom: 2px solid black;
  margin: 1rem 0;
}

.news-img {
  width: 100%;
  max-height: 250px;
}

@media (max-width: 576px) {
  .toggleMenu {
    display: inline;
  }
  .menus {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    flex-direction: column;
    background: black;
    transition: 0.5s;
    flex-wrap: nowrap;
    overflow-x: hidden; /* Key Function! For Toggle Side Menu*/
  }
  .menus button:first-child {
    display: block;
  }
  .menus button {
    color: white;
  }
}

@media (min-width: 577px) {
  .menus {
    width: 100%;
  }
}
